<p id="notice"><%= notice %></p>

<h1>Users</h1>
  <% @users.each do |user| %>

  <td><%= user.name %></td></br></br>
  <td><%= image_tag(user.avatar.url(:medium)) %></td></br></br>
  <td><%= user.location %></td></br></br>
  </br></br>
<% end %>



<%= link_to 'New User', new_user_path %>

