<!DOCTYPE html>
<html>
  <head>
    <title>Imgtask</title>
    <%= csrf_meta_tags %>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAiVCePnnA7cAcaklgavQV0gySShDhp3oI" async="" defer="defer" type="text/javascript" ></script>
    <script scr="jquery.geocomplete.js"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
